.button-filter{
    margin-top: 67px;
    display: flex;
    justify-content:space-between;
}

.button-filter button{
    padding: 18px;
    background-color: #00A876;
    border: none;
    border-radius: 15px;

    font-size: 20px;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 700;
}



.filter button{
    padding: 18px 32px 18px 32px;
    background-color: #FFFFFF;
    border: 2px solid #D9D9D9;
    border-radius: 15px;

    font-size: 20px;
    font-family: 'Raleway';
    color: #414141;
    font-weight: 700;
}

.forum-card{
    margin-top: 40px;
    display: flex;
    padding: 42px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
}

.forum-card .logo{
    height: 82px;
}

.forum-card .forum-content{
    margin-left: 30px;
}

.forum-card .forum-content h1{
    font-size: 24px;
    font-family: 'Raleway';
    color: #414141;
    font-weight: 700;
}

.forum-card .forum-content h2{
    margin-top: 12px;
    font-size: 18px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 400;
}

.forum-card .forum-content h2 span{
    font-weight: 500;
}

.forum-card .forum-content p{
    width: 773px;
    margin-top: 12px;
    font-size: 18px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 400;
    line-height: 35px;
    text-align: justify;
}

.details-and-button{
    margin-left: 64px;
}

.details{
    display: flex;
    align-items: center;
}
.details-img{
    width: 169px;
    height: 48px;
}

.details h3{
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 500;
}

.details h3 img{
    margin-right: 20px;
}

.details-and-button button{
    margin-top: 51px;
    margin-left: 194px;
    width: 144px;
    height: 49px;
    background-color: #FFFFFF;
    border: 2px solid #00A876;
    border-radius: 10px;
}

.details-and-button button a{
    font-size: 18px;
    font-family: 'Raleway';
    color: #00A876;
    font-weight: 700;
    text-decoration: none;
}

.popup {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFFFFF; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popup-content {
    background-color: #fefefe;
    margin: 48px auto; /* 15% from top and centered */
    padding: 48px 64px 0 64px;
    border: 1px solid #888;
    width: 1164px; /* Could be more or less, depending on screen size */
    height: 800px; /* Could be more or less, depending on screen size */
    border-radius: 25px;
}

.popup-content h2{
    font-size: 32px;
    font-family: 'Raleway';
    color: #414141;
    font-weight: 700;
}

.popup-content button{
    border: none;
    margin-top: 20px;
    margin-left: 920px;
    width: 244px;
    height: 49px;
    background-color: #00A876;
    border-radius: 10px;
    font-size: 18px;
    font-family: 'Raleway';
    color: #FFFfFF;
    font-weight: 700;
    text-decoration: none;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 39px;
    font-size: 24px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 600;
}

form input{
    height: 81px;
    border: 2px solid #00A876;
    border-radius: 15px;
}

form textarea{
    height: 220px;
    border: 2px solid #00A876;
    border-radius: 15px;
}

form input,
form textarea {
    padding: 24PX;
    box-sizing: border-box;
    margin-top: 10px;

    font-size: 18px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 500;
}

.title-user{
    display: flex;
    align-items: center;
}

.title-user p{
    font-size: 20px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 500;
}

.container{
    padding: 16px 100px 0 100px;
}

.container h1{
    margin-top: 48px;
    font-size: 36px;
    font-family: 'Raleway';
    color: #414141;
    font-weight: 700;
    text-decoration: none;
}

.container h2{
    margin-top: 108px;
    font-size: 20px;
    font-family: 'Raleway';
    color: #414141;
    font-weight: 700;
    text-decoration: none;
}

.container p{
    width: 1100px;
    margin-top: 24px;
    font-size: 16px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 500;
}

.reply{
    margin-top: 32px;
    display: flex;
    align-items: center;
}

.reply img{
    margin-right: 10px;
}

.reply p{
    margin-top: 10px;
    font-size: 16px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 500;
}

.reply .content{
    margin-top: 0px;
    font-size: 16px;
    font-family: 'Inter';
    color: #414141;
    font-weight: 500;
}

.container textarea{
    margin-top: 18px;
    height: 100px;
}

.container button{
    margin-top: 48px;
    width: 190px;
    height: 48px;
    background-color: #00A876;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-family: 'Raleway';
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
}